*.o
*.lo
*~
\#*\#
.\#*
.deps
.libs
.dirstamp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build
build-aux
config.*
configure
datapack.pc
datapacker
deb-control
files.*
libdatapack.la
libtool
stamp-h1
test-suite.log
/tests/data1.c
/tests/data1.h
/tests/data2.pak
/tests/test
/tests/test.log
/tests/test.trs
